# Ignored file extensions
*.idea
*.pdf
*.pyc
*.pyo
*.coverage
*.vsdx
*.hdf5
*.h5

# Ignored directories
__pycache__/
scratch/
venv/
docs/build/
.cache/
.pytest_cache/
build/
dist/
*.egg-info/

# Specific Directives
examples/local*
tests/sample_data/eotvos_long_result.csv
tests/sample_data/eotvos_long_input.txt
dgp/gui/ui/*.py
dgp/resources_rc.py
