# Ignored file extensions
*.idea
*.pdf
*.pyc
*.pyo
*.coverage
*.vsdx

# Ignored directories
__pycache__/
scratch/
venv/
docs/build/

# Specific Directives
dgp/gui/ui/*.py
examples/local*
tests/sample_data/eotvos_long_result.csv
tests/sample_data/eotvos_long_input.txt
