alabaster==0.7.10
Babel==2.5.0
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
numexpr==2.6.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
urllib3==1.22

coverage==4.4.1
matplotlib==2.0.2
numpy==1.13.1
pandas==0.20.3
PyQt5==5.9
pyqtgraph==0.10.0
requests==2.18.4
scipy==0.19.1
sip==4.19.3
six==1.10.0
tables==3.4.2
